<h1>Dashboard</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Total Products</th>
      <th scope="col">Total Categories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= @products_count %></th>
      <th scope="row"><%= @categories_count %></th>
    </tr>
  </tbody>
</table>

