<body class="about">
  <div class="fade"></div>

<section class="star-wars">

  <div class="crawl">

    <div class="title">
      <p>MEET OUR STAFF</p>
      <h1>A New Hope</h1>
    </div>
    
    <p>Pixy Dawson</p>
    <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/6c/6c7d7d96d9f69270726dca24993d5595e9b3d197_full.jpg">      
    <p class="bottom">CEO</p>
    <p>Alek Valdwin</p>
    <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/00/00c43f3e42c4db581d0101e9be34b3bce77dcefd_full.jpg">      
    <p class="bottom">Vice President</p>
    <p>Cat Jr</p>
    <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/98/983d7917390d3054ceb96b24d30900bd5d0da5ae_full.jpg">      
    <p class="bottom">Kitten Developer</p>
    <p>Donna Wrench</p>
    <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/83/833064454caef91dc61e20e2d65945f1608dcfb6_full.jpg">      
    <p class="bottom">Senior Developer</p>
    <p>Hook Lock</p>
    <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/ba/ba0a2ba1a8609155317bd7efbc646d73eb273299_full.jpg">      
    <p class="bottom">Cyber Security Specialist</p>
    <p>Waylon Smithers</p>
    <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/00/0000a951989f946cfeeace0f308e374cf5a9fabb_full.jpg">      
    <p class="bottom">Intern Developer</p>
    <p>Sleeping Joe</p>
    <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/52/5231741c802d896d9c024bf8654ffb4b07c2ac55_full.jpg">      
    <p class="bottom">Nice lad</p>
  </div>

</section>
  
</body>
<%= link_to 'Home', :root %>