// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.alert-danger {
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.btn-primary {
  color: aliceblue;
}

.btn-primary :hover {
  color: aliceblue;
}

.table thead {
  background-color: #286090;
  color: antiquewhite;
  font-size: larger;
}

.table th {
  text-align: center; 
  font-size: large;  
}